<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-left">Copyright © Yourney 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/Yourney3"><em class="fa fa-twitter"></em></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/yourney.yourney.3"><em class="fa fa-facebook"></em></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/ispp.yourney/"><em class="fa fa-instagram"></em></a>
            </div>
         
        </div>
    </div>
</footer>
