
<body>
<app-menu></app-menu>

    <div class="outer-welcome"> 
        <div class="middle-welcome">
            
            <div class="inner-welcome" *ngIf="isLoggged; else loggedOut">
                <h1>Bienvenido/a</h1> 
                <h2>{{username}}</h2>
                
            </div>
            <ng-template #loggedOut>
                <div class="inner-welcome">
                    <h1>Bienvenido a Yourney</h1>
                    
                </div>
            </ng-template>
        </div> 
    </div>

    <app-footer></app-footer>

</body>



