
body{
    background-size:cover;
    background:linear-gradient(0deg, rgba(228, 228, 228, 0.3), rgba(204, 98, 98, 0.844)), url(hiker-1149898_1920.png);
}

.bg-dark {
    background-color: none!important;
}

.outer-welcome {
    background-size:cover;
    background:linear-gradient(0deg, rgba(228, 228, 228, 0.3), rgba(204, 98, 98, 0.844)), url(hiker-1149898_1920.png);
    display: table;
    position: absolute;
    top: auto;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle-welcome {
  
    display: table-cell;
    vertical-align: middle;
}
  
.inner-welcome {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.6); */
    border-radius: 20px;
    width:50%;
}

h1 { 
    /* font-family: 'Helvetica Neue', sans-serif;  */
    font-family: "Muli", sans-serif;
    font-size: 4vw; 
    font-weight: 500; 
    line-height: 50px; 
    letter-spacing: 1.5px; 
    padding: 20px 0 20px; 
    color:white;
}

h2 {
    /* font-family: 'Helvetica Neue', sans-serif;  */
    font-size: 2vw; 
    font-weight: 100; 
    line-height: 50px; 
    padding: 0 0 0;
    opacity: 70%;
    color:white;
}

h4 {
    padding:20px;
}

.elevator-pitch {
    font-family: "Muli", sans-serif;
    padding: 0 0 20px;
    padding: 15px;
    font-weight: 700;
    color:white;
}