


<app-menu ></app-menu>
    <div class="outer-welcome"> 
        
        <div class="middle-welcome">
            
            <div class="inner-welcome" *ngIf="isLogged; else loggedOut">
                <div class="message" data-aos="fade-up" data-aos="zoom-in">
                    <img class="logo" src="assets/img/new_logo.png">
                    <h1 class="welcome" >Bienvenido/a a Yourney</h1>
                    <h2 class="username" >{{username}}</h2>
                    <a class="btn btn-primary explore" href="/buscador" >Explorar</a>
                </div>

                <div>
                    <img class="route"  src="assets/img/ruta_avion.png" style="max-width: 100%" data-aos="fade-down">

                    <img class="plane" style="width: 400px;position: relative; left: 20vw; bottom:500px;" src="assets/img/avionpapel.png"  data-aos="fade-right" >
                </div>
                
            </div>
            <ng-template #loggedOut>
                <div class="inner-welcome">
                    <div class="message" data-aos="fade-up" data-aos="zoom-in">
                        <img class="logo" src="assets/img/new_logo.png">
                        <h1 class="welcome">Bienvenido/a a Yourney</h1>
                        <h2 class="welcome-sub" >Despega con nosotros</h2>

                        <a class="btn btn-primary explore" href="/buscador">Explorar</a>
                    </div>

                    <div>
                        <img class="route"  src="assets/img/ruta_avion.png" style="max-width: 100%" data-aos="fade-down">

                        <img class="plane" src="assets/img/avionpapel.png"  data-aos="fade-right" >
                    </div>
                    

                </div>
            </ng-template>
            <app-footer></app-footer>
        </div> 
    </div>

    
   




