<div [style.display]="added">
<app-menu *ngIf="!create"></app-menu>

<div class="container center-block">

  <form class="form-itineraries text-center" #f="ngForm" [formGroup]="formFilter">




    <div class="form-group">
      <label for="country">Pais</label>
      <select formControlName="country" value="España" class="form-control" id="country"
        (change)="OnChange($event.target.value)">
        <option *ngFor="let pais of country" [value]="pais"> {{pais}} </option>
      </select>
    </div>


    <div class="form-group">
      <label for="city">Ciudad</label>
      <select formControlName="city" class="form-control" id="city" >
        <option disabled selected value> -- Secciona una ciudad -- </option>
        <option *ngFor="let ciudad of city" [value]="ciudad"> {{ciudad}} </option>
      </select>
    </div>



    <button type="submit" (click)="onRegister()" [disabled]="!formFilter.valid" class="btn"> <em class="fa fa-search fa-2x" aria-hidden="true"></em></button>

    <a href="/buscador_punto_interes" *ngIf="!create" class="btn "><em class="fa fa-refresh fa-2x" aria-hidden="true"></em></a>

    <app-landmark-create *ngIf="isLogged && !create"></app-landmark-create>





  </form>

</div>



<div *ngIf="noLandmarksFound; then noDataPresent else dataPresent"></div>
<ng-template #dataPresent>


  <div class="container-landmarks">

  <div  *ngIf="search">
    
      <div *ngFor="let item of landmarks | paginate: { itemsPerPage: 8 , currentPage: currentPage, totalItems: totalElements }"></div>
    
               
      <pagination-controls [className]="create ? 'addLandmark_pagination text-center' : 'div_pagination text-center'" previousLabel="" nextLabel="" maxSize="5" responsive="true"  (pageChange)="getPage(currentPage = $event)"></pagination-controls>
  
    </div>
  
  <div [className]="create ? 'landmarkAdd' : 'landmark'"  *ngFor="let item of landmarks">


    <div class="center">
      <div class="front-face"
        [ngStyle]="{'background': 'linear-gradient(rgba(255, 60, 60, 0.2),rgba(0,0,0,.2)),url(' + item.image.imageUrl + ')', 'background-size': 'cover'}">
        
        <img *ngIf="estaPromocionado(item.endPromotionDate)" class="sponsoredItinerary" src="assets/img/itineraryFeaturedLandmark.png" alt="Punto de interes patrocinado">
        
        <div class="contents front">
          <p>{{item.name}}</p>
          <span>{{item.city}}</span>
        </div>
      </div>
      <div class="back-face"
        [ngStyle]="{'background': 'linear-gradient(rgba(21, 17, 17, 0.666),rgba(24, 5, 5, 0.2)),url(' + item.image.imageUrl + ')', 'background-size': 'cover'}">


        <div class="contents back">
          

          <p *ngIf="item.phone"><em class="fa fa-phone-square" aria-hidden="true"></em> {{item.phone}}</p>
          <p *ngIf="item.email"><em class="fa fa-envelope" aria-hidden="true"></em> {{item.email}}</p>

          <a class="btn btn-dark btn-social mx-2" *ngIf="item.twitter" href="{{item.twitter}}"><em
              class="fa fa-twitter"></em></a>
          <a class="btn btn-dark btn-social mx-2" *ngIf="item.instagram" href="{{item.instagram}}"><em
              class="fa fa-instagram"></em></a>

          <div class="icons">
            <a type="button" *ngIf="!create" class="btn btn-outline-dark details"
              href="/punto_interes/{{item.id}}">Detalles</a>
            <a *ngIf="create" class="btn btn-outline-dark details" (click)="passData(item)">Añadir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>

  

</ng-template>
<ng-template #noDataPresent>
  <div class="alert alert-danger"> {{noLandmarksFound}}</div>
</ng-template>

</div>

<script>  
function isPromoted(date){
  lDate = new Date(date)
  hoy = new Date()
  return lDate<hoy
}
</script>  