
  .card-link{
    border-radius: 15px;
    
  }
  
  /* if if is in large window, control cards width size */
  @media (min-width: 400px) {
      .card-link {
          max-width: 305px;
      }
  }

  
  .card{
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    transition: transform .5s ease;
  }
  .card:hover{
    transform: scale(1.1);
  }
  .card img{
    position:relative;
    width: 100%;
    display: block;
    border-radius: 15px 15px 0 0;
  }
  .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
    opacity: 0.7;
  }
  .details>.card-title{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
  }
  .details>.card-text{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    color: #a0a0a0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }
  
  h3 {
      padding: 15px;
      text-align: center;
  }
  
  .form-itineraries {
      padding: 20px;
      grid-gap: 30px;
  }
  
  .form-group{
      display:inline-block;
      margin-right: 10px;
  }
  
  .form-group .form-control {
      padding-left: 1rem!important;
      padding-right: 1rem!important;
  }
  
  .btn {
      padding: 0.5rem 1rem;
      margin: 5px;
  }
  
  
  input, textarea, select {
    box-shadow: 0 0 5px rgba(0,0,0,0.18);
    border-radius: .25rem;
  }
  
  .container{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 10px;
    position :relative !important; 
    top: 30px;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
    
    
  }



  .center,.front-face,
.contents,.back-face{
  position: absolute;
}
.center{
 
  position: relative;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 300px;
  transform-style: preserve-3d;
  margin-right: 10px;
  float: left;
  top: 300px;
  margin-bottom: 30px;

}
.front-face, .back-face{
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(255, 60, 60, 0.2),
              rgba(0,0,0,.2));
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}
.contents{
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p{
  font-size: 35px;
  margin-bottom: 15px;
  color: white;
}
.front span{
  font-size: 23px;
  color: white;
}
.front p:after{
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: white;
  margin: 0 auto;
  margin-top: 10px;
}
.sponsoredItinerary {
  height: 15%;
  position: absolute;
  top: 5px;
  right: 5px;
  object-fit: cover;
}
.back-face{
  transform: rotateY(180deg);
  background: linear-gradient(rgba(255, 60, 60, 0.666),
              rgba(214, 105, 105, 0.2));
}
.back {
  color: white;
}
.back h2{
  font-size: 33px;
  padding-bottom: 5px;
}
.back span{
  font-size: 25px;
}
.icons{
  margin: 10px 0;
  display: block;
}
i.fab{
  color:  #042f4b;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: white;
  border-radius: 50%;
  margin: 0 5px;
  line-height: 40px;
  cursor: pointer;
}
.center:hover > .back-face{
  transform: rotateY(0deg);
}
.center:hover > .front-face{
  transform: rotateY(-180deg);
}

.landmark{
    position: relative;
    left:25vw;
    width: 70vw;
    zoom: 100%;
    min-height: 2px;
    
   
  }


  
.landmarkAdd{
  position: relative;
  left:12vw;
  zoom: 0.8;

}


.details{
    width: 10vw;
    background: linear-gradient(rgba(255, 60, 60, 0.666),
              rgba(204, 47, 47, 0.898));
    border-color: white;
    padding: 20px 10px;
    
}

.details, p{
    color: white;
}


  .div_pagination{
    width:40%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    position: relative;
    left: 12vw;
    
  }
  
  .pagination {
    padding-bottom: 15px;
    margin-left:auto;
    margin-right: auto;
    margin-top:40px;
  }
  
  
  .page-link{
    color: rgb(187, 53, 53);
    background:  linear-gradient(0.2deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3))!important;
    border: none!important;
  }

  
  .page-item.active {
    background-color: #FB7F64!important;
    border-color: #FB7F64;
}
 

  
  .addLandmark{
    justify-content: center;
    display: inline-block;
    margin:5%;
    position: relative;
    width: auto;
    left: 15vw;
    top:146vh;
  }

  .addLandmark_pagination{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
    left: 7vw;
  }


  

  @media (max-width: 800px){
    .landmark {
      position: relative;
      left:50vw;
      width: 3px;
 
      
    }

    .details{
        width: 30vw;
        background: linear-gradient(rgba(255, 60, 60, 0.666),
                  rgba(204, 47, 47, 0.898));
        border-color: white;
        
    }

    .div_pagination{
      display:flex;
      width:60%;
      margin-left:auto;
      margin-right: auto;
      position: absolute;
      left: 25vw;
    }

    .addLandmark{
      justify-content: center;
    display: inline-block;
    margin:5%;
    position: relative;
    width: auto;
    left: 18vw;
    top: 25px;
    overflow: auto;
    

    }

     
.landmarkAdd{
  position: relative;
  left:45vw;
}

.addLandmark_pagination{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: absolute;
  left: 10vw;
}

}
