
   <button type="button" #load  style="margin:5px; background-color: none;"  data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false"></button>
  
  <div class="modal fade" id="exampleModal" tabindex="-1"  style="background: none;" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="background: none;" role="document">
          <div class="modal-content">
            <div class="d-flex justify-content-center">
              <div class="spinner-border" style="width:5rem;height:5rem" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>

