<app-menu></app-menu>

<div id="marco-terminos" class="card mx-3 my-3"
    style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));">
    <div class="card-body">

        <!-- INTRODUCCIÓN -->
        <div id="introduccion">
            <h3 class="titulo">Introducción</h3>
            <p>
                Registrarse en la aplicación implicará que el usuario aceptará los términos y condiciones propuestos por
                la entidad corporativa Yourney SA desde ese dicho momento. Aplica las leyes europeas con respecto al
                tratamiento de datos personales recogidos en el reglamento RGPD (Reglamento (UE) 2016/679 del Parlamento
                Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas).
            </p>
            <p>
                Le recomendamos que lea atentamente esta declaración. En nuestro procesamiento cumplimos con los
                requisitos de la legislación de privacidad. Lo que significa, entre otras cosas, que:
            </p>
            <ul class="text-md-left">
                <li class="mt-2">
                    Indicamos claramente los fines para los que procesamos los datos personales. Hacemos esto por medio
                    de esta declaración de privacidad.
                </li>
                <li class="mt-2">
                    Nuestro objetivo es limitar nuestra recopilación de datos personales a los datos personales
                    necesarios para fines legítimos.
                </li>
                <li class="mt-2">
                    Solicitamos su consentimiento explícito para el tratamiento de sus datos personales en los casos en
                    que sea necesario.
                </li>
                <li class="mt-2">
                    Tomamos las medidas de seguridad adecuadas para proteger sus datos personales y también se lo
                    exigimos a las partes que procesan datos personales en nuestro nombre.
                </li>
                <li class="mt-2">
                    Respetamos su derecho a acceder, rectificar o cancelar sus datos personales previa solicitud.
                </li>
            </ul>
        </div>

        <!-- TRATAMIENTO DE DATOS -->
        <br>
        <div id="terminos-y-condiciones">
            <h3 class="titulo">Términos y condiciones</h3>
            <ol class="">
                <li class="mt-2">
                    Registrarse en la plataforma web implica disponer de más de 16 años, siendo los datos aportados
                    reales y propios de esta persona.
                </li>
                <li class="mt-2">
                    Se procesarán los datos de los usuarios por parte de nuestra organización usando servicios de
                    plataformas de terceros de PayPal Inc., Cloudinary Inc., Heroku Inc. y MailJet Inc. y Google Inc. para correo eléctronico.
                </li>
                <li class="mt-2">
                    Empleamos el uso del almacenamiento local del cliente web solamente para identificar un usuario que haya sido previamente
                    registrado.
                </li>
            </ol>
        </div>

        <!-- TRATAMIENTO DE DATOS -->
        <br>
        <div id="tratamiento-datos">
            <h3 class="titulo">Tratamiento de datos</h3>
            <ol class="">
                <li class="mt-2">
                    Se usará el correo electrónico solamente con usos informativos propios de Yourney SA, siendo estos
                    los motivos:
                    <br>
                    <ul>
                        <li>
                            Alerta de seguridad detectada
                        </li>
                        <li>
                            Cambio en la política legal de la empresa
                        </li>
                        <li>
                            Notificación por un maluso de la aplicación web
                        </li>
                        <li>
                            Confirmación de la cuenta de un nuevo usuario
                        </li>
                    </ul>
                    Este dato será procesado por MailJet Inc. y Google Inc. y sus filiales, comprometiéndose a no vender estos datos a
                    otros terceros. Más información en: <a href="https://www.gstatic.com/policies/termssummary/gmail.pdf?hl=es">Gmail</a> y <a href="https://es.mailjet.com/seguridad-y-privacidad/">MailJet</a>

                </li>
                <li class="mt-2">
                    Se usará el Nombre, Apellidos y Nombre del Usuario solamente con el fin de identificar a un usuario.
                </li>
                <li class="mt-2">
                    Los datos aportados por la plataforma de pagos digital solamente se usarán para anotar el pago de la
                    cantidad previamente acordada. Así mismo, los datos enviados a dicha plataforma serán la cantidad
                    monetaria y la divisa, siendo estos datos procesados por ella misma. <a
                        href="https://www.paypal.com/es/webapps/mpp/ua/useragreement-full">Más información</a>
                </li>
                <li class="mt-2">
                    Las imágenes cedidas a la plataforma serán cedidas para los servicios externos de Cloudinary Inc., sin
                    propósitos comerciales o estadísticos. Más información en: <a
                        href="https://cloudinary.com/tos">Términos</a> y <a
                        href="https://cloudinary.com/privacy">Privacidad</a>
                </li>
                <li class="mt-2">
                    La subida de todo contenido será gestionado por nuestra organización. Esta información no se venderá
                    a terceros pero sí puede ser usado por otras plataformas indicadas en este acuerdo.
                </li>
                <li class="mt-2">
                    No se podrá realizar publicaciones que contengan contenido que incluya copyright no propio del
                    autor, tal y como se describe en el reglamento de DMCA. <a href="https://www.dmca.com/">Más
                        información</a>
                </li>
                <li class="mt-2">
                    No podrá realizarse publicaciones que incluyan contenido malsonante, contenidos falsos, racismo,
                    machismo, sexual u de otra clase que se considere delictivo por la Unión Europea.
                </li>
                <li class="mt-2">
                    No usamos software publicitario ni entidades de terceros que los usen.
                </li>
                <li class="mt-2">
                    Se usará la IP de cada usuario solamente con los fines de mostrar el número de visitas en los itinerarios y puntos de interés y para evitar fraudes.
                </li>
                <li class="mt-2">
                    Para representar los mapas, se usará el servicio de mapas gestionado por Here Inc., y se enviará por
                    tanto las coordenadas relacionadas con un itinerario creado. <a
                        href="https://legal.here.com/es-es/terms">Más información</a>
                </li>
            </ol>
        </div>

        <!-- PROTECCIÓN DE DATOS -->
        <br>
        <div id="proteccion-datos">
            <h3 class="titulo">Protección de datos</h3>
            <ol class="">
                <li class="mt-2">
                    Se usan mecanismos de seguridad informática como SSH bajo HTTPS (con la plataforma desplegada bajo
                    los servicios de Heroku Inc.), evitando así posibles atacantes y/o fraudes
                </li>
            </ol>
        </div>

        <!-- DERECHOS DEL CLIENTE -->
        <br>
        <div id="derechos-cliente">
            <h3 class="titulo">Derechos del cliente</h3>
            <ol class="">
                <li class="mt-2">
                    Podrá solicitar el derecho al olvido siempre que lo desee, en el cuál podrá indicarle a Yourney SA
                    el deseo de no seguir recibiendo notificaciones y reducir su visibilidad ante otros usuarios u otras
                    entidades de la mayor forma posible. Para que esto se lleve a cabo, es necesario comunicar un correo
                    a <a href="mailto:ispp.yourney@gmail.com">ispp.yourney@gmail.com</a>.
                </li>
                <li class="mt-2">
                    Podrá solicitar el derecho de exportación de datos siempre que lo desee, en el cuál podrá indicarle a Yourney SA 
                    el deseo de obtener los máximos datos posibles pertenecientes a su usuario. Para que esto se lleve a cabo, 
                    es necesario comunicar un correo a <a
                    href="mailto:ispp.yourney@gmail.com">ispp.yourney@gmail.com</a>.
                </li>
                <li class="mt-2">
                    Enviar una queja/sugerencia a la organización mediante el uso del correo electrónico <a
                    href="mailto:ispp.yourney@gmail.com">ispp.yourney@gmail.com</a>.
                </li>
                <li class="mt-2">
                    Podrá suministrar una queja ante la entidad competente de su nacionalidad o la Española, si el
                    individuo lo considera oportuno.
                </li>
            </ol>
        </div>

        <!-- DERECHOS DE LA EMPRESA -->
        <br>
        <div id="derechos-empresa">
            <h3 class="titulo">Derechos de la empresa</h3>
            <ol class="">
                <li class="mt-2">
                    Podrá deshabilitar la cuenta del usuario en los siguientes casos:
                    <ul>
                        <li>
                            Daños y perjuicios.
                        </li>
                        <li>
                            El usuario no cumple con alguno de los términos acordados (incluyendo copyright y malos
                            usos).
                        </li>
                        <li>
                            Acceso a datos confidenciales de otros usuarios y/o de nuestra empresa.
                        </li>
                    </ul>
                </li>
                <li  class="mt-2">
                    Podrá almacenar de forma secundaria durante un periodo de 2 años toda la información creada por un usuario por si esta fuera requerida por las autoridades competentes.
                </li>
            </ol>
        </div>

        <!-- PROTECCIÓN DE DATOS -->
        <br>
        <div id="proteccion-datos">
            <h3 class="titulo">Protección de datos</h3>
            <ol class="">
                <li class="mt-2">
                    Se usan mecanismos de seguridad informática como SSH bajo HTTPS (con la plataforma desplegada bajo
                    los servicios de Heroku Inc.), evitando así posibles atacantes y/o fraudes
                </li>
            </ol>
        </div>

        <!-- VISIBILIDAD EN LA WEB -->
        <br>
        <div id="visibilidad-web">
            <h3 class="titulo">Visibilidad en la web</h3>
            <ol class="">
                <li class="mt-2">
                    Nuestra web y todos sus datos (itinerarios, puntos de interés, visualizar un perfil de usuario, comentarios, mapas…) serán accesibles mediante las siguientes organizaciones:
                    <ul>
                        <li>
                            Motores de búsqueda
                        </li>
                        <li>
                            Agencias de noticias
                        </li>
                        <li>
                            Distribuidores de internet
                        </li>
                        <li>
                            Empresas e instituciones tanto públicas como privadas
                        </li>
                    </ul>
                </li>
            </ol>
        </div>

        <!-- FIN APARTADOS -->
    </div>
</div>