
<mat-toolbar color="primary">
    <span>Yourney</span>

    <div class="spacer"></div>

    <a mat-button>Servicios</a>
    <a mat-button>Sobre nosotros</a>
    <a mat-button>Equipo</a>
    <a mat-button>Contacto</a>

</mat-toolbar>

<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="mainNav">
    <div class="d-flex">
        <a class="navbar-brand js-scroll-trigger ball" href="#page-top"><img src="assets/img/icon.png" alt="" /></a>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="dropdown-item" href="#services">Servicios</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#about">Sobre nosotros</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#team">Equipo</a></li>
                <li class="nav-item"><a class="dropdown-item" href="#contact">Contactanos</a></li>
            </ul>
        </div>
    </div>
</nav>
-->


