<app-menu></app-menu>
<div *ngIf="containError; then hasError else noError"></div>

<ng-template #hasError>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>{{messageError}}.</p>
    </div>
  
</ng-template>

<ng-template #noError>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body" [ngClass]="{'premium-card': currentlySponsored}">
                        <div *ngIf="currentlySponsored" style="text-align:center!important">
                            <img class="premium" src="assets/img/corona.png" alt="Corona punto de interes patrocinado">
                        </div>
                        <h4 class="card-title titulo">{{landmark?.name}}</h4>
                        <p class="card-text"><em class="fa fa-map-marker" >&nbsp;&nbsp;</em>{{landmark?.city}}, {{landmark?.country}}</p>
                        <img class="card-img-top mb-4" style="border-radius: 10px;" height="30%" src={{landmark?.image.imageUrl}} alt="Card image cap">
                        <h6 class="card-subtitle mb-2">{{landmark?.description}}</h6>
                        <hr/>
                        <p class="card-text">Categoría:&nbsp;&nbsp;{{landmark?.category}}</p>
                        <p class="card-text"><em class="fa fa-money" >&nbsp;&nbsp;</em>{{landmark?.price}} €</p>
                        <div class="card-body" *ngIf="landmark?.email || landmark?.phone || landmark?.website || landmark?.instagram || landmark?.twitter">
                            <p *ngIf="landmark?.email" href="#" class="card-text"><em class="fa fa-envelope-o" >&nbsp;&nbsp;</em>{{landmark?.email}}</p>
                            <p *ngIf="landmark?.phone" href="#" class="card-text"><em class="fa fa-phone" >&nbsp;&nbsp;</em>{{landmark?.phone}}</p>
                            <hr/>
                            <a *ngIf="landmark?.website" href="{{landmark?.website}}" class="card-link"><em class="fa fa-globe">&nbsp;&nbsp;</em></a>
                            <a *ngIf="landmark?.instagram" href="{{landmark?.instagram}}" class="card-link"><em class="fa fa-instagram" >&nbsp;&nbsp;</em></a>
                            <a *ngIf="landmark?.twitter" href="{{landmark?.twitter}}" class="card-link"><em class="fa fa-twitter" >&nbsp;&nbsp;</em></a>
                        </div>
                        <div *ngIf="!isAnonymous" style="text-align:center!important; margin:1rem">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" style="white-space:normal;width:100%;font-size:.7rem;background:none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ¿Quieres ayudar a este sitio?<br>¡Patrocinalo!
                                </button>
                                <div class="dropdown-menu" style="text-align:center!important;width:100%">
                                    <button type="button" style="white-space:normal" class="btn dropdown-item" (click)="upgradeLandmark()"><em class="fa fa-credit-card-alt" >&nbsp;&nbsp;</em>Patrocinar (200€/mes)</button>
                                    <div *ngIf="currentlySponsored">
                                        <hr/>
                                        <p class="dropdown-item" style="white-space:normal" *ngIf="currentlySponsored">Próxima fecha de expiración:<br>{{endSponsoredDate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="isAdmin" style="text-align:center!important;width:100%">
                                <br>
                                <button style="margin:10px" *ngIf="isAdmin && !tieneActividades" type="button" class="btn btn-primary" (click)="onDelete()">
                                    Eliminar
                                </button>
                                <button *ngIf="isAdmin" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificar">
                                    Modificar
                                </button>

                                <div  class="modal fade" id="modificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div  class="modal-dialog modal-lg" role="document">
                                        <div  class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modificar</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                
                                                <form #f="ngForm" *ngIf="isAdmin" [formGroup]="editForm" (ngSubmit)="onUpdate()">

                                                    <h2 style="color:grey">Datos de la ubicación</h2>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="name">Nombre del la ubicación <span style="color:#ff0000">*</span></label>
                                                            <input type="text" id="name" formControlName="name" class="{{inputClass(editForm, 'name')}}" max-length="50" required name="name">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('name').touched && editForm.get('name').invalid">
                                                                <div *ngIf="editForm.get('name').errors.required">No puede quedar vacío</div>
                                                                <div *ngIf="editForm.get('name').errors.maxlength">La longitud máxima son 50 caracteres.</div>
                                                            </div>
                                                        </div>
            
                                                        <div class="form-group col-md-6">
                                                            <label for="price">Precio <span style="color:#ff0000">*</span></label>
                                                            <div class="input-group mb-3">
                                                                <input type="text" id="price" formControlName="price" class="{{inputClass(editForm, 'price')}}" value="0" required min="0" placeholder="0"  maxlength="8">
                                                                <div class="input-group-prepend" >
                                                                    <span class="input-group-text">€</span>
                                                                </div>
                                                                <div class="invalid-feedback" *ngIf="editForm.get('price').touched && editForm.get('price').invalid">
                                                                    <div *ngIf="editForm.get('price').errors.required">No puede estar vacío o el formato no es válido.</div>
                                                                    <div *ngIf="editForm.get('price').errors.maxPrice ">El precio debe estar entre 0-10000.</div>
                                                                    <div *ngIf="editForm.get('price').errors.maxlength">El número máximo de caracteres es 8.</div>
                                                                    <div *ngIf="editForm.get('price').errors.pattern">Deben ser dígitos y con un máximo de 2 decimales.</div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <label for="description">Descripción de la ubicación <span style="color:#ff0000">*</span></label>
                                                    <textarea name="description" id="description" formControlName="description" maxlength="1000" class="{{inputClass(editForm, 'description')}}" cols="30" rows="10"></textarea>
                                                    <p>Caracteres disponibles: {{1000-editForm.get('description').value.length}}</p>
                                                    <div class="invalid-feedback" *ngIf="editForm.get('description').touched && editForm.get('description').invalid">
                                                        <div *ngIf="editForm.get('description').errors.required">No puede quedar vacío</div>
                                                        <div *ngIf="editForm.get('description').errors.maxlength">La longitud máxima son 1000 caracteres.</div>
                                                    </div>
                                                    <br>
            
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="country">País <span style="color:#ff0000">*</span></label>
                                                            <select formControlName="country" id="country" class="{{inputClass(editForm, 'country')}}" required>
                                                                <option [value]="item" *ngFor="let item of countries">{{item}}</option>
                                                            </select>
                                                            <div class="invalid-feedback" *ngIf="editForm.get('country').touched && editForm.get('country').invalid">
                                                                <div *ngIf="editForm.get('country').errors.required">No puede estar vacío</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="city">Ciudad <span style="color:#ff0000">*</span></label>
                                                            <input type="text" id="city" formControlName="city" class="{{inputClass(editForm, 'city')}}" placeholder="Seoul" required maxlength="100">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('city').touched && editForm.get('city').invalid">
                                                                <div *ngIf="editForm.get('city').errors.required">No puede quedar vacío.</div>
                                                                <div *ngIf="editForm.get('city').errors.maxlength">No puede introducirse más de 100 caracteres</div>
                                                                <div *ngIf="editForm.get('city').errors.pattern">Debe de contener solamente letras</div>
                                                            </div> 
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="category">Categoría <span style="color:#ff0000">*</span></label>
                                                            <select class="form-control" formControlName="category" id="category" class="{{inputClass(editForm, 'category')}}">
                                                                <option label="BAR">BAR</option>
                                                                <option label="HOTEL">HOTEL</option>
                                                                <option label="TIENDA">TIENDA</option>
                                                                <option label="CENTRO CULTURAL">CENTRO CULTURAL</option>
                                                                <option label="AYUNTAMIENTO">AYUNTAMIENTO</option>
                                                                <option label="MONUMENTO">MONUMENTO</option>
                                                                <option label="RESTAURANTE">RESTAURANTE</option>
                                                                <option label="LOCAL DE COMIDA RÁPIDA">LOCAL DE COMIDA RÁPIDA</option>
                                                                <option label="SUPERMERCADO">SUPERMERCADO</option>
                                                                <option label="PUNTO DE INTERÉS">PUNTO DE INTERÉS</option>
                                                                <option label="LIBRERÍA">LIBRERÍA</option>
                                                                <option label="PARQUE NATURAL">PARQUE NATURAL</option>
                                                                <option label="CHIRINGUITO">CHIRINGUITO</option>
                                                                <option label="OTROS">OTROS</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="latitude">Latitud <span style="color:#ff0000">*</span></label>
                                                            <input type="number" id="latitude" formControlName="latitude" class="{{inputClass(editForm, 'latitude')}}" required placeholder="12" maxlength="15">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('latitude').touched && editForm.get('latitude').invalid">
                                                                <div *ngIf="editForm.get('latitude').errors.required">No puede quedar vacío.</div>
                                                                <div *ngIf="editForm.get('latitude').errors.pattern">Deben ser dígitos y con un máximo de 10 decimales.</div>
                                                                <div *ngIf="editForm.get('latitude').errors.range">El valor introducido debe de estar entre -90 y 90</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label for="longitude">Longitud <span style="color:#ff0000">*</span></label>
                                                            <input type="number" id="longitude" formControlName="longitude" class="{{inputClass(editForm, 'longitude')}}" required placeholder="24" maxlength="15">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('longitude').touched && editForm.get('longitude').invalid">
                                                                <div *ngIf="editForm.get('longitude').errors.required">No puede quedar vacío.</div>
                                                                <div *ngIf="editForm.get('longitude').errors.pattern">Deben ser dígitos y con un máximo de 10 decimales.</div>
                                                                <div *ngIf="editForm.get('longitude').errors.range">El valor introducido debe de estar entre -180 y 180</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="email">Email</label>
                                                            <input type="text" id="email" formControlName="email" email class="{{inputClass(editForm, 'email')}}" placeholder="example@gmail.com" max-length="100">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('email').touched && editForm.get('email').invalid">
                                                                <div *ngIf="editForm.get('email').errors.email || editForm.get('email').errors.pattern">Formato no válido</div>
                                                                <div *ngIf="editForm.get('email').errors.maxlength">No puede introducirse más de 100 caracteres</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label for="phone">Teléfono</label>
                                                            <input type="text" id="phone" formControlName="phone" class="{{inputClass(editForm, 'phone')}}" placeholder="+(82) 847192673">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('phone').touched && editForm.get('phone').invalid">
                                                                <div *ngIf="editForm.get('phone').errors.pattern">El formato introducido es no es válido, debe contener un formato: +(321) 987654321 o 987654321</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="website">Sitio web</label>
                                                            <input type="url" id="website" formControlName="website" class="{{inputClass(editForm, 'website')}}" placeholder="https://www.website.com" max-length="100">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('website').touched && editForm.get('website').invalid">
                                                                <div *ngIf="editForm.get('website').errors.pattern">Debe ser una URL</div>
                                                                <div *ngIf="editForm.get('website').errors.maxlength">No puede introducirse más de 300 caracteres</div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="instagram">Instagram</label>
                                                            <input type="text" id="instagram" formControlName="instagram" class="{{inputClass(editForm, 'instagram')}}" placeholder="https://www.instagram.com" max-length="300">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('instagram').touched && editForm.get('instagram').invalid">
                                                                <div *ngIf="editForm.get('instagram').errors.pattern">Debe ser una URL</div>
                                                                <div *ngIf="editForm.get('instagram').errors.maxlength">No puede introducirse más de 300 caracteres</div>
                                                            </div> 
                                                        </div>

                                                        <div class="form-group col-md-4">
                                                            <label for="twitter">Twitter</label>
                                                            <input type="url" id="twitter" formControlName="twitter" class="{{inputClass(editForm, 'twitter')}}" placeholder="https://www.twitter.com" max-length="300">
                                                            <div class="invalid-feedback" *ngIf="editForm.get('twitter').touched && editForm.get('twitter').invalid">
                                                                <div *ngIf="editForm.get('twitter').errors.pattern">Debe ser una URL</div>
                                                                <div *ngIf="editForm.get('twitter').errors.maxlength">No puede introducirse más de 300 caracteres</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-form-label" for="landmarkImage">Imagen</label>
                                                        <br>
                                                        <input type="file" #landmarkImage id="landmarkImage" accept="image/*"  class="file-input"   (change)="addLandmarkImage($event.target.files,landmarkImage)">
                                                    
                                            
                                                    </div>
                                                        
                                                    <div style="text-align:center!important">
                                                        <button type="submit" class="btn btn-primary" style="margin:5px" [disabled]="!editForm.valid" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">Actualizar</button>

                                                        <div class="modal fade" id="exampleModal" tabindex="-1"  style="background: none;" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" style="background: none;" role="document">
                                                                <div class="modal-content">
                                                                    <div class="d-flex justify-content-center">
                                                                        <div class="spinner-border" style="width:5rem;height:5rem" role="status">
                                                                            <span class="sr-only">Loading...</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    
                                                </form>  
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div> 
                            </div>

                        </div>
                        <div class="card-footer text-right pr-3 pb-3"><em class="fa fa-eye" aria-hidden="true" >
                            &nbsp;&nbsp;</em>{{landmark?.views}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card" style="margin:5px">
                        <here-map _apikey="_apikey" *ngIf="loaded" lat="{{landmark.latitude}}" lng="{{landmark.longitude}}" width="auto" height="595px"></here-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</ng-template>