<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLandmark">Añadir punto de interés</button>

<div class="modal fade" id="addLandmark" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Punto de interés</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formLandmark" (ngSubmit)="onCreate()">

          <h2 style="color:grey">Datos de la ubicación</h2>

          <label for="name">Nombre del la ubicación <span style="color:#ff0000">*</span></label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Bar Itaewon" required>
           <div class="alert alert-danger" *ngIf="formLandmark.get('name').touched && formLandmark.get('name').invalid">
            <div *ngIf="formLandmark.get('name').errors.required">No puede quedar vacío</div>
          </div>
          <br> 

          <label for="description2">Descripción de la ubicación <span style="color:#ff0000">*</span></label>
          <textarea id="description2" formControlName="description2" class="form-control" placeholder="Comida increíble..." cols="30" rows="10"></textarea>
          <div class="alert alert-danger" *ngIf="formLandmark.get('description2').touched && formLandmark.get('description2').invalid">
            <div *ngIf="formLandmark.get('description2').errors.required">No puede quedar vacío</div>
          </div>
          <br>
          <label for="price">Precio <span style="color:#ff0000">*</span></label>
          <div class="input-group mb-3">
            <input type="number" id="price" formControlName="price" class="form-control" value="0" required min="0" placeholder="0">
            <div class="input-group-prepend">
              <span class="input-group-text">€</span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="formLandmark.get('price').touched && formLandmark.get('price').invalid">
            <div *ngIf="formLandmark.get('price').errors.required">No puede estar vacío</div>
            <div *ngIf="formLandmark.get('price').errors.min">El precio mínimo es 0</div>
          </div> 
          <br>

          <label for="country">País</label>
          <select class="form-control" id="country" formControlName="country" required>
            <option [value]="item" *ngFor="let item of countries">{{item}}</option>
          </select>

          <br>
          <label for="city">Ciudad</label>
          <input type="text" id="city" formControlName="city" class="form-control" placeholder="Seoul">

          <br>
          <label for="latitude">Latitud</label>
          <input type="number" id="latitude" formControlName="latitude" class="form-control" placeholder="12">
          <div class="alert alert-danger" *ngIf="formLandmark.get('latitude').touched && formLandmark.get('latitude').invalid">
            <div *ngIf="formLandmark.get('latitude').errors.min || formLandmark.get('latitude').errors.max">El valor introducido debe de estar entre -90 y 90</div>
            <div *ngIf="formLandmark.get('latitude').errors.pattern">El formato es inválido</div>
          </div>



          <br>
          <label for="longitude">Longitud</label>
          <input type="number" id="longitude" formControlName="longitude" class="form-control" placeholder="24">
          <div class="alert alert-danger" *ngIf="formLandmark.get('longitude').touched && formLandmark.get('longitude').invalid">
            <div *ngIf="formLandmark.get('longitude').errors.min || formLandmark.get('longitude').errors.max">El valor introducido debe de estar entre -180 y 180</div>
            <div *ngIf="formLandmark.get('longitude').errors.pattern">El formato es inválido</div>
          </div>





          <br>
          <label for="category">Categoría</label>
          <input type="text" id="category" formControlName="category" class="form-control" placeholder="Restaurante">

          <br>
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" email class="form-control" placeholder="example@gmail.com">
          <div class="alert alert-danger"
          *ngIf="formLandmark.get('email').touched && formLandmark.get('email').invalid">
            <div *ngIf="formLandmark.get('email').errors.maxlength">Debe de tener como máximo 50 caracteres</div>
            <div *ngIf="formLandmark.get('email').errors.email || formLandmark.get('email').errors.pattern">Formato no válido</div>
            
      </div>
          <br>

          <label for="phone">Teléfono</label>
          <input type="text" id="phone" formControlName="phone" class="form-control" placeholder="+(82) 847192673 ">
          <div class="alert alert-danger" *ngIf="formLandmark.get('phone').touched && formLandmark.get('phone').invalid">
            <div *ngIf="formLandmark.get('phone').errors.pattern">El formato es incorrecto</div>
          </div>


          <br>
          <label for="website">Sitio web</label>
          <input type="url" id="website" formControlName="website" class="form-control" placeholder="https://www.website.com" >
          <div class="alert alert-danger" *ngIf="formLandmark.get('website').touched && formLandmark.get('website').invalid">
            <div *ngIf="formLandmark.get('website').errors.pattern">Debe ser una URL</div>
          </div>

          <br>
          <label for="instagram">Instagram</label>
          <input type="text" id="instagram" formControlName="instagram" class="form-control" placeholder="https://www.instagram.com">
           <div class="alert alert-danger" *ngIf="formLandmark.get('instagram').touched && formLandmark.get('instagram').invalid">
            <div *ngIf="formLandmark.get('instagram').errors.pattern">Debe ser una URL</div>
          </div> 

          <br>
          <label for="twitter">Twitter</label>
          <input type="url" id="twitter" formControlName="twitter" class="form-control" placeholder="https://www.twitter.com">
          <div class="alert alert-danger" *ngIf="formLandmark.get('twitter').touched && formLandmark.get('twitter').invalid">
            <div *ngIf="formLandmark.get('twitter').errors.pattern">Debe ser una URL</div>
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Crear</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
            </form>
            
        </div>

      </div>
    </div>
  </div>

