*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #151320;
  height: 100vh;
  display: grid;
  place-items: center center;
  font-family: 'Poppins',sans-serif;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  padding: 20px;
  grid-gap: 30px;
}
.card-link{
  border-radius: 15px;
}

/* if if is in large window, control cards width size */
@media (min-width: 400px) {
    .card-link {
        max-width: 305px;
    }
}
.card{
  overflow: hidden;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
  transition: transform .5s ease;
}
.card:hover{
  transform: scale(1.1);
}
.card img{
  position:relative;
  width: 100%;
  display: block;
  border-radius: 15px 15px 0 0;
}
.container:after{
  content: "";
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
  opacity: 0.7;
}
.details{
  padding: 20px 10px;
}
.details>.card-title{
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}
.details>.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #a0a0a0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

h3 {
    padding: 15px;
    text-align: center;
}

.form-itineraries {
    padding: 20px;
    grid-gap: 30px;
}

.form-group{
    display:inline-block;
    margin-right: 10px;
}

.form-group .form-control {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 5px;
}