<div class="align-items-center text-center">
  <a *ngIf="loggedUsername == username" class="btn btn-primary" href="/itinerarios/crear">Crear itinerario</a>
</div>
<div *ngIf="itineraries.length>0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>

  <div class="container container-itineraries" [style.max-height]="loggedUsername===username ? '389px' : '405px'">
    <a class="card-link" href="/itinerarios/{{item.id}}" *ngFor="let item of itineraries">
      <div class="card mb-3 card-my-itineraries" style="margin:5px">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img class="card-img" src={{item.imageUrl}} alt="Card image cap">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 style="text-align:center" class="card-title text-green">{{item.name}}</h5>
              <p style="color:#333333" class="card-text text-right pr-3 pb-3"><em class="fa fa-eye" aria-hidden="true" style="font-size:20px"></em> {{item.views}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>

    <div class="div_pagination">
      <div *ngFor="let item of itineraries | paginate: { itemsPerPage: 4 , currentPage: currentPage, totalItems: totalElements }"></div>
    
               
      <pagination-controls previousLabel="" nextLabel="" maxSize="3" responsive="true"  (pageChange)="loadUserItineraries(username,currentPage = $event)"></pagination-controls>
    </div>


  </div>

</ng-template>

<ng-template #elseBlock>
  <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p>No existen itinerarios para este usuario.</p></div>
</ng-template> 