<a href='http://localhost:4200'>back</a>
<hr>
<!--
<div class="grid-container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
  <div class="card mr-5" *ngFor="let item of itineraries">
    <img class="card-img-top" src={{item.main_image}} alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{item.name}}</h2>
      <p class="card-text">{{item.description}}</p>
      <a href="#" class="btn btn-primary">{{item.author_username}}</a>
    </div>
  </div>
</div>
</div>-->



<!--
<div class="container">
  <div class="card" *ngFor="let item of itineraries">
    <div class="img">
      <img src={{item.main_image}}>
    </div>
    <div class="top-text">
      <div class="name">
        {{item.name}}</div>
        <a href="#">
        {{item.author_username}}</a>
    </div>
    <div class="bottom-text">
      <div class="text">
        {{item.description}}</div>
      <div class="btn">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
 
</div>-->



<mat-grid-list cols="2" rowHeight="2:1">

<!-- <div class="contenedor"> -->
    <mat-card class="card" *ngFor="let item of itineraries">
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{item.main_image}}>
      <mat-card-content>
        <p>{{item.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button href="#" color="primary">Leer más</button>
      </mat-card-actions>
    </mat-card>
  <!-- </div> -->
</mat-grid-list>



