/* You can add global styles to this file, and also import other style files */

* {
    font-family: "Work Sans", Sans-serif;
}

html, body{ 
    background:  linear-gradient(0deg, rgba(228, 228, 228, 0.3), rgba(204, 98, 98, 0.844)),url(mountain.jpg);
   
    margin: 0;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto!important;
   

}



.btn-primary:hover {
    transform: scale(1.05);
    background: #FB7F64;
    border-color:#FB7F64;
}

.dropdown-menu {
    border-radius: .25rem;
}

h1, h2, h3, h4{
    color: white;
}


.btn-primary {
    border-radius: .25rem;
    background: #FB7F64!important;
    border-color: #FB7F64;
}


@media (max-width: 800px){
    html, body{ 
        /* height: 100%; */
        /* background:linear-gradient(0deg, rgba(119, 45, 45, 0.878), rgba(204, 98, 98, 0.844)); */
       width: auto;
        margin: 0;
        height: auto;
        background-size: cover;
        background-repeat: initial;
       
    
    }
}