<!-- <mat-toolbar color="primary">
    <span>Yourney</span>

    <div class="spacer"></div>

    <a mat-button>Servicios</a>
    <a mat-button>Sobre nosotros</a>
    <a mat-button>Equipo</a>
    <a mat-button>Contacto</a>
    <a routerLink="/login" *ngIf="!isLogged" class="login" mat-button>Iniciar sesión</a>
    <a routerLink="/" *ngIf="isLogged" (click)="onLogout()" class="logout" mat-button>Cerrar sesión</a>
    <a routerLink="/register"  *ngIf="!isLogged" mat-button>Registrarse</a>

</mat-toolbar> -->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Yourney</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ispp-yourney.github.io/" target="_blank">Sobre nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isLogged" >Iniciar Sesión</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/register"  *ngIf="!isLogged" >Registrarse</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/" *ngIf="isLogged" (click)="onLogout()" >Cerrar Sesión</a>
      </li> -->

      <li class="nav-item dropdown" *ngIf="loggedUsername">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{loggedUsername}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/perfil/{{loggedUsername}}">Mi perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/" *ngIf="isLogged" (click)="onLogout()" ><strong>Cerrar Sesión</strong></a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>