.spacer{
    flex: 1 1 auto;
}


.animated-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: rgb(255, 255, 255);
    transition: width .1s;
  }
  
  .animated-link:hover::after {
    width: 100%;
  }

  
  
  @media (max-width: 800px){
      .navbar-brand{
        width: 8%!important;
      }
}

