

input {
    box-shadow: 0 0 5px rgba(0,0,0,0.18);
    border-radius: .25rem;
}

.outer {
    display: table;
    position: absolute;
    top: auto;
    left: 0;
    height: 100%;
    width: 100%;
}
  
.middle {
    display: table-cell;
    vertical-align: middle;

   
}
  
.inner {
    background:  linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:30%;
    padding:5%;
    min-width: 300px;
}
label{
    color: white;
}
/* @media (max-width: 800px) {

    .middle {
        background-color: white;
      border-radius: 10px;
      position :relative !important; 
      top: 160px;
      width: 80%;
      align-items: center;
      margin: auto;
      margin-bottom: 70px;
      padding-top: 60px;
      padding-bottom: 80px;
       
    }

    .inner {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width:60%;
    }

} */